* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor {

    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 70);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario {
    width: 45rem;
    height: 52rem;
    background-color: gray;
    box-shadow: 0 10px 0 10px rgb(0, 0, 0.4);
}

i {
    block-size: auto;
}

.mes {
    width: 100%;
    height: 12rem;
    background-color: rgb(2, 109, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.mes i {
    font-size: 40px;
    cursor: pointer;
}

.mes h1 {
    font-size: 45px;
    font-weight: 200;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.mes p {
    font-size: 20px;
}

.semanas {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.semanas div {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dias {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.dias div {
    font-size: 20px;
    margin: 10px;
    width: calc(100%/9);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dias div:hover:not(.hoy){
    background-color: gray;
    border: 5px solid rgb(79, 79, 79);
    cursor: pointer;
   
}

.fecha-anterior,
.fecha-siguente{
    color: rgba(209, 209, 209, 0.553);
}

.hoy{
    background-color: rgb(2, 109, 109);
}